*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container {
 max-width: 1140px;
 width: 100%;
 margin:  0 auto;
 padding: 0 15px-;
}
body{
    background: gray;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list{
    display: flex ;
    gap: 80px;
}
.header{
    backdrop-filter: blur(34px);
    background: #141414;
    padding: 10px 0;
}
.header-link {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: #f0f0f0;
    transition: 500ms;
}
.header-link:hover{
 color: blue;
}
.intro {
    background: url(../img/INTRO.svg) no-repeat bottom /cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.intro-title{
    font-family: "Montserrat";
font-weight: 600;
font-size: 140px;
color: #b31d1e;
}
.intro-link{
    font-family: "Motnserrat";
font-weight: 800;
font-size: 24px;
color: #141414;
background: linear-gradient(135deg, #ffa600 0%, #e41818 100%);
border-radius: 4px;
width: 265px;
height: 64px;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
}
.porche-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.porche-left{
    max-width: 540px;
    width: 100%;
}
.title{
    font-family: "Montserrat";
font-weight: 700;
font-size: 40px;
color: #eb3a13;
}
.porche-left-text{
    font-family: "Montserrat";
     font-weight: 500;
font-size: 20px;
color: #f0f0f0;
}
.text1{ 
    margin-top: 30px;
    margin-bottom: 40px;
}
.porche{
    padding-top: 114px;
    padding-bottom: 82px;
}
.gallery{
padding-top: 82px;
padding-bottom: 90px;
}
.gallery-box{
        margin-top: 30px;
        display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.gallery-box-img{
    border-radius: 4px;
}
.about{
    padding-top: 90px;
    padding-bottom: 120px;
}
.about-text{
    font-family: "Montserrat";
font-weight: 500;
font-size: 20px;
color: #f0f0f0;
margin-top: 30px;
margin-bottom: 152px;
}
.about-img{
    border-radius: 4px;
}
.footer {
    background: #1f1f1f;
    padding-top: 30px;
    padding-bottom: 62px;
}
.footer-left{
    max-width: 350px;
    width: 100%;
}
.footer-form{
  
    display: flex;
    flex-direction: column;
}
.footer-form-input{
    border: none;
    background: none    ;
    outline: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 8px 0;
    font-family:"fustat";
     font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #f0f0f0;
}
.footer-form-input::placeholder{
    font-family:"fustat";
     font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #f0f0f0;
}
.footer-form-btn{
    background: linear-gradient(135deg, #ffa600 0%, #e41818 100%);
height: 36px;
border-radius: 4px;
border: none;
font-family: "Montserrat";
font-weight: 600;
font-size: 14px;
line-height: 129%;
text-align: center;
color: #f0f0f0;
margin-top: 30px;  
}
.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer-right{
    display: flex;
    gap: 50px;
}
.footer-item-title{
    font-family: "Montserrat";
font-weight: 500;
font-size: 16px;
line-height: 90%;
color: #f0f0f0;
margin-bottom: 30px;    
}
.footer-item-list{
       display: flex;
      flex-direction: column;
      gap: 30px;
}
.footer-item-link{
    font-family: "Montserrat";
font-weight: 500;
font-size: 14px;
line-height: 140%;
color: #f0f0f0;
}
@media (max-width:1140px) {
    .gallery-box{

        justify-content: center;
    }
    .gallery-title{
        text-align: center;
    }
    .gallery-box-img{
        width: 70%;
    }
    .about-img{
        width: 100%;
    }
    .porche-box{
        flex-direction: column ;
        gap: 30px;
    }
}
@media (max-width:800px){
    .intro{
        height: 600px;
    }
    .intro-title{
        font-size: 20px;
        max-width: 150px
        ;
        height: 40px
    }
    .footer-box{
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width:600px){
    .porche-right-img{
        width: 100%
    }
    .header-container{
        flex-direction: column;
        gap: 15px;
    }

.header-list{
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.porche-left-text,.about-text{
 font-size: 14px;
}
.title{
    font-size: 24px;
    text-align: center;
}
}